<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
</head>
<body>
    <header>
        <h1>Audius Trending</h1>
        <ul>
            <li>
                <a href="/playlist">Playlists</a>
            </li>
        </ul>
    </header>
    <main>
        <form action="/">
            <input type="text" name="search">
            <input type="submit">
        </form>
        <ul>
            <% for( let i = 0; i < link.length; i++ ) { %>
                <li>
                    <img src="<%= link[i].artwork['150x150'] %> " alt="<%= link[i].title %> ">
                    <section>
                        <a href="/search/<%= link[i].id %> ">
                            <%= link[i].title %> <br/>
                        </a>
                        <%= link[i].user.handle %>  <br/>
                        <%= link[i].genre %> <br/>
                        <video  controls name="media">
                            <source src="<%= `${url}/v1/tracks/${link[i].id}/stream?` %>" type="audio/mpeg">
                        </video>
                    </section>
                    <form action="/search" method="POST">
                        <input type="submit" value="Add">                    
                    </form>
                </li>
            <% } %>
        </ul>
    </main>
</body>
</html>