<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
</head>
<body>
    <h1>Playlist</h1>
    <main>
        <ul>
            <% for( let i = 0; i < link.length; i++ ) { %>
                <li>
                    <img src="<%= link[i].artwork['150x150'] %> " alt="<%= link[i].title %> ">
                    <a href="/search/<%= link[i].id %> ">
                        <section>
                            <%= link[i].title %> <br/>
                            <%= link[i].user.handle %>  <br/>
                            <%= link[i].genre %> <br/>
                            <video  controls name="media">
                                <source src="<%= `${url}/v1/tracks/${link[i].id}/stream?` %>" type="audio/mpeg">
                            </video>                           
                        </section>
                    </a>
                </li>
            <% } %>
        </ul>
    </main>
</body>
</html>